VITE_API_URL="http://localhost:5001/api"

# Firebase Client SDK Configuration
VITE_FIREBASE_API_KEY="AIzaSyAec33aw0dsySweISGpeEaWu-FytwOBJrc"
VITE_FIREBASE_AUTH_DOMAIN="sports-b5755.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="sports-b5755"
VITE_FIREBASE_STORAGE_BUCKET="sports-b5755.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="1029379374911:1029379374914:web:a61b463b787b90450192db"
VITE_FIREBASE_APP_ID="1:1029379374914:web:a61b463b787b90450192db"

# Mapbox Configuration
VITE_MAPBOX_TOKEN="your_mapbox_token_here"
