node_modules
# Keep environment variables out of version control
.env

/generated/prisma
dist/
src/**/*.js
src/**/*.d.ts
src/**/*.js.map
src/**/*.d.ts.map
prisma/seed.js
prisma/seed.d.ts
prisma/seed.js.map
prisma/seed.d.ts.map
